<!DOCTYPE html>
<html>
<head>
	<title>About Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<link rel="stylesheet" href="css/styles.css">


</head>
<body>

	<nav class="navbar navbar-default navbar-color-theme">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand logo-img" href="/">Portfolio</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav text-center">
					<li><a href="/">Home</a></li>
					<li><a href="/videogallery">Video Gallary</a></li>
					<li class="active"><a href="/about">About</a></li>

				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">

		<div class="lead">
			<h1 class="text-center">{{pageTitle}}</h1>
			<p class="text-center">{{screamIt pageMsg}}</p>

		</div>

	</div>
	<p class="text-center content-bottom">KuroyukiDev &copy;{{getCurrentYear}}</p>
</body>
</html>
