<!DOCTYPE html>
<html>
<head>
	<title>Maintenance Underway... - Kuroyuki Mikoto - Portfolio</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		
</head>
<body>	
	
	<div class="container-fluid">
		
		<div class="lead">
			<h1 class="text-center">Maintenance Underway...</h1>
			<p class="text-center">Please check back in 8 hours. We should be finished my then. Thank you for visiting our website.</p>
			
		</div>
		
	</div>
	<p class="text-center content-bottom">KuroyukiDev &copy;{{getCurrentYear}}</p>
</body>
</html>